<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Burger Eater</h1>
    <p class="lead">We gonna make burgers. We gonna eat burgers.</p>
  </div>
</div>



{{!-- START BURGER DIV --}}
<div class="row">
  <div class="col-sm-9">
    Level 1: .col-sm-9
    <div class="row">
      <div class="col-xs-8 col-sm-6">
        <h2>Burgers that are not devoured!</h2>

        <ul>
          {{#each burgers}}
          {{#unless devoured}}
          {{> burgers/burger-block devoured=true}}
          {{/unless}}
          {{/each}}
        </ul>
      </div>
      <div class="col-xs-4 col-sm-6">
        <h2>Burgers that are devoured!</h2>

        <ul>
          {{#each burgers}}
          {{#if devoured}}
          {{> burgers/burger-block devoured=false}}
          {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>{{!--  END BURGER DIV --}}



<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">Is this burger eaten or un-eaten?</label><br>
    <input type="radio" name="devoured" value="1" checked> Devoured!<br>
    <input type="radio" name="devoured" value="0"> Un Eaten
  </div>

  <button type="submit">Add Burger</button>
</form>

</div>