body {
    font-family: 'Courier New', Courier, monospace;

    margin: 0;

    --color-text: #fff;
    --color-bg: #000;
    --color-link: #555;
    --color-link-hover: #98fadf;
    --color-info: #f7cfb9;
    --glitch-width: 100vw;
    --glitch-height: 100vh;
    --gap-horizontal: 10px;
    --gap-vertical: 5px;
    --time-anim: 4s;
    --delay-anim: 2s;

}


.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: rgba(0, 0, 0, .1);
    padding: 1rem;

    a {
        font-weight: bold;
        text-decoration: none;
        color: #9c0eee;
        isolation: isolate;
        display: block;
    }

}

.darkmode--activated main {
    background: rgb(231, 120, 55);
}

main {
    padding: 5rem 0;
    background: #9c0eee;
    color: white;

    h1 {
        font-size: 3em;
        margin: 0;

    }

    p {
        font-size: 1.5em;
        margin-top: .5rem;
    }

    a {
        background: white;
        padding: 1rem 2rem;
        margin-top: .5rem;
        display: inline-block;
        font-weight: bold;
        text-decoration: none;
        border-radius: 5px;
        color: #9c0eee;
    }
}

section {
    padding: 4rem 0;
}